body {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #ecf0f1; }

@media (max-width: 670px) {
  body {
    padding-top: 0px; }
    body #main_nav {
      position: relative;
      margin: 0px 0px 20px 10px; }
    body #messages-title {
      margin-top: 0px; } }
@media (max-width: 450px) {
  #main_nav .button-text {
    display: none; }

  body #messages {
    font-size: 12px; }
    body #messages td {
      max-width: 30px;
      line-height: 15px; }
    body #messages td.user-info {
      width: 100px; } }
#message-pager {
  position: fixed;
  bottom: 0px;
  left: 20px; }

#messages {
  margin-top: 20px;
  font-size: 20px; }
  #messages td, #messages th {
    padding: 15px;
    color: #2C3E50;
    line-height: 30px; }
  #messages td {
    color: #34495E; }
  #messages td.user-info {
    width: 300px; }

#messages-title {
  color: #2C3E50;
  margin-top: -50px; }

#main_nav {
  position: fixed;
  top: 10px;
  right: 10px; }

#account-links {
  width: 200px; }

.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-move {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.animate-repeat.ng-enter {
  opacity: 0; }

.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-repeat.ng-leave {
  opacity: 1; }

.animate-repeat.ng-leave.ng-leave-active {
  opacity: 0; }
